body {
    color: #2E2F42;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    color: #2E2F42;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.logo-span {
    color: #4D5AE5;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
}