#footer {
    color: #f4f4fd;
    background-color: #2E2F42;
}

#footer a {
    color: #f4f4fd;
}

#footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}