.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer a {
    color: inherit;
}

.footer-logo-span {
    color: #4D5AE5;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}